import { BaseComponentAdapter } from '@/core/dtos/component-base.dto';

export interface Base<%= classify(name) %>Adapter extends BaseComponentAdapter {
  on?: {};
}

export interface Base<%= classify(name) %>Output {
  config?: Base<%= classify(name) %>Adapter;
}
