$brandColor: #0088ff; //品牌色
$brandNearColor:#4071e9; //品牌邻近色

$borderAidColor: #ecebeb; //边框线辅助色
$placeholderColor: #cccccc; //输入框提示字体颜色
$sideBarColor:#2e323f; //左侧菜单栏背景色
$sideBarBg:#2e323f;//左侧菜单hover
$defaultBg:#f0f2f5; //默认背景色
$stripedColor:#F6F8FC; //列表斑马线颜色
$dropDownColor:#4876e7; //下拉按钮颜色
$dangerColor:#f5222d;//危险色

$defaultFontColor: #333; //默认字体颜色
$aidFontColor: #1a1a1a; //辅助字体颜色
$aidFontColor1:#4e4e4e; //辅助字体色